{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
	<div class="jumbotron text-center">
  		<div class="container">
    		<p>Welcome {{ user.username }} !!!</p>
    		<h3>To-do list status report</h3>
			<div class="row">
				<div class="col-xs-4">
					<h4>Add new to-do list</h4>
					<form action="/home/" method="post">{% csrf_token %}
						<div class="form-group">
				    		<label for="list_title">Title</label>
			   				<input type="text" class="form-control" name="new_list" id="new_list" placeholder="Enter title">
				    	</div>
						<button type="submit" class="btn btn-success" name="new_list" value="Register">Submit</button>
					</form>
					<h4>Add new item</h4>
					<form action="/home/" method="post">{% csrf_token %}
						<div class="form-group">
				    		<label for="item_title">Title</label>
			   				<input type="text" class="form-control" name="title" id="title" placeholder="Enter title">
				    	</div>
				    	<div class="form-group">
				    		<label for="item_priority">Priority</label>
						  	{{ i_form.priority }}
						</div>
						<div class="form-group">
							<label for="item_list">List</label>
						  	{{ i_form.p_list }}
						</div>
						<button type="submit" class="btn btn-success" name="new_item" value="Register">Submit</button>
					</form>
				</div>
				<div class="col-xs-8">  
					{% for list_dict in todo_listing %}  
						<h3>{{ list_dict.list_object.title }}</h3>
						<ul list-style="none">
							<li>Number of items: {{ list_dict.item_count }}</li>  
							<li>Number completed: {{ list_dict.items_complete }} ({{ list_dict.percent_complete }}%)</li>
						</ul>
						<h4>Items</h4>
						<ul list-style="none">
							{% for item in list_dict.items %}
								<li>{{ item }}</li>
							{% endfor %}
						</ul>
					{% endfor %}
				</div>
			</div>  
    		<a href="/logout/"><button class="btn btn-success">Logout</button></a>
    	</div>
    </div>
{% endblock %}