{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
	<div class="jumbotron text-center">
	  	<div class="container">
		    <a href="/" class="lang-logo">
		      <img src="{% static 'lang-logo.png'%}">
		    </a>
		    <h1>To-Do App (how original!!)</h1>
		    <p>An application that helps to give your life some sort of structure.</p>
		    {% if form.errors %}
		        <p>Your username and password didn't match. Please try again.</p>
		    {% endif %}
		    <form method="post" action=".">{% csrf_token %}
		    	<div class="form-group">
		    		<label for="id_username">Username</label>
    				<input type="text" class="form-control" name={{ form.username }} id="username" placeholder="Enter username">
		    	</div>
		    	<div class="form-group">
				    <label for="id_password">Password</label>
					<input type="password" class="form-control" name={{ form.password }} id="password" placeholder="Password">
				</div>
		        <!-- <table border="0">
		            <tr><th><label for="id_username">Username:</label></th><td>{{ form.username }}</td></tr>
		            <tr><th><label for="id_password">Password:</label></th><td>{{ form.password }}</td></tr>
		        </table>
		        <input type="submit" value="Login" />
		        <input type="hidden" name="next" value="/home" /> -->
		        <button type="submit" class="btn btn-primary" value="Login">Submit</button>
		        <input type="hidden" name="next" value="/home" />
		    </form>
		    <a href="/register">Register</a>
		</div>
	</div>
{% endblock %}