{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
	<div class="jumbotron text-center">
	  	<div class="container">
		    <a href="/" class="lang-logo">
		      <img src="{% static 'lang-logo.png'%}">
		    </a>
		    <h1>To-Do App (how original!!)</h1>
		    <p>An application that helps to give your life some sort of structure.</p>
		    <form method="post" action=".">{% csrf_token %}
		    	<div class="form-group">
		    		<label for="id_username">Username</label>
    				<input type="text" class="form-control" name="username" id="username" placeholder="Enter username">
		    	</div>
		    	<div class="form-group">
		    		<label for="id_username">Email</label>
    				<input type="text" class="form-control" name="email" id="username" placeholder="Enter email ID">
		    	</div>
		    	<div class="form-group">
				    <label for="id_password">Password</label>
					<input type="password" class="form-control" name="password1" id="password" placeholder="Password">
				</div>
		    	<div class="form-group">
				    <label for="id_password">Retype Password</label>
					<input type="password" class="form-control" name="password2" id="password" placeholder="Password">
				</div>
		        <!-- <table border="0">
		            {{ form.as_table }}
		        </table> -->
		        <!-- <input type="submit" value="Register" /> -->
		        <button type="submit" class="btn btn-success" value="Register">Submit</button>
		    </form>
		    <a href="/"><button class="btn btn-success" style="margin-top:10px;">Login</button></a>
		</div>
	</div>
{% endblock %}