{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
	<div class="jumbotron text-center">
	  	<div class="container">
		    <a href="/" class="lang-logo">
		      <img src="{% static 'lang-logo.png'%}">
		    </a>
		    <h1>To-Do App (how original!!)</h1>
		    <p>An application that helps to give your life some sort of structure.</p>
		    <form method="post" action=".">{% csrf_token %}
		        <table border="0">
		            {{ form.as_table }}
		        </table>
		        <input type="submit" value="Register" />
		    </form>
		    <a href="/">Login</a>
		</div>
	</div>
{% endblock %}